@charset "utf-8";
/* CSS Document */

#body
{
	margin-top:0px;
	background:RGB(254, 240, 217);
	padding-left:250px;
}

#logo
{
	position:absolute;
	top:25px;
	left:275px;

}

#banniere
{
	top:0px;
	width:800px;
	height:200px;
}

#div
{
	background:#FFF;
	padding-left:450px;
	width:800px;
	height:auto;
	padding:0px;
}

#contact
{
	position:absolute;
	top:-20px;
	right:200px;
	text-align:right;
}

#taillepierre
{
	margin-top:10px;
	bottom:10px;
	font-size: 20px;	
}

#table
{
	border: 2px solid RGB(220, 181, 153);
	height:auto;
	width:800px;
}
#text
{
color:#CCC;
padding-left:15px;
}

#listeproj
{
	border: 2px #963 solid;	
	height:auto;
	width:150;
	text-align:center;
}

#image
{
	max-height: 150px;
   	max-width: 150px;
}
