<html>
	<head>
    <title>accueil</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/pagecss.css" rel="stylesheet" style="">
	</head>
	<body id="pageacc">

		<img src="../Src/logo.png">

                <h2><b>Espace Bijoutier</b></h2>
        <a href="./Formulaire/FormulaireNouveauArtisan.php" id="btn4">Créer un nouveau artisan</a>
        <a href="./Formulaire/FormulaireCreationProjet.php" id="btn2">Créer un nouveau projet</a>
        <a href="./SiteVitrine.php" id="btn1">Aller sur le site Vitrine</a>
        <a href="./ListeProjetView.php" id="btn3">Liste des projets</a>
        <br><br>
        <a href="index.php" id="retour"> retour </a>
        
	</body>
</html>
